
h1{
    color:#186A3B ;
    font-family: "ff-meta-web-pro", sans-serif;
    font-size: 110%;;
}
.Footer{
    display: flex;
    justify-content: flex-end;
}
*{
    border:indigo solid

}

.Heading{
   display:flex;
   justify-content: space-between; 
}

.Grid{
    margin-top: 100px;
    display:flex;
    justify-content: space-around; 
    flex-wrap: wrap;
 }
body{
background-color: #48C9B0;
}





















