
h1{
    color:#186A3B ;
   
    font-size: 250%;;
}
.Footer{
    display: flex;
    justify-content: flex-end;
}


.Heading{
   display:flex;
   justify-content: space-between; 
   border:solid
}

.Grid{
    margin-top: 100px;
    display:flex;
    justify-content: space-around; 
    flex-wrap: wrap;
 }
body{
background-color: #48C9B0;
}
.Heading *{
    padding:1px;
    border:solid
}

a:hover{
    color:#922B21
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

.Grid a{
    margin:10px
}
.images{
    
    position:relative;
}
.images:hover{
    
    transform:scale(1.25);
}

.images p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
    
    
}

.images:hover p{
    opacity:1;
    transform:scale(1.75);
    transform:translate(-50%,-50%);
}










